#root {
  margin: 0 auto;
  text-align: center;
  --h1-size: 9vw;
  --h2-size: 2rem;
  --h2-size-desktop: 5vw;
  --h3-size: 1.5rem;
  --bg: #F5F7FA;
  --text-color: black;
  --text-color-opposite: white;
  --accent-color: #1f90e7;
  --grey1: #f0f0f0;
  --grey2: #e0e0e0;
  --grey3: #d0d0d0;
  --grey4: #c0c0c0;
  --grey5: #b0b0b0;
  --grey6: #a0a0a0;
  --grey7: #909090;
}

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


h1 {
  font-size: var(--h1-size);
}

h2 {
  padding: 0 1.5rem;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--text-color);
  margin-bottom: 0rem;
}

h3 {
  color: var(--text-color);
  font-size: var(--h3-size);
}

a {
  transition: all 0.1s ease;
}

/* Navbar */
.nav-bar-container {
  background-color: var(--grey1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 3rem;
  margin: 0 1vw;
}

.nav-bar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 1rem;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: auto;
  gap: 4vw;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color-opposite);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

.nav-link:active {
  transform: scale(0.98);
  color: var(--accent-color)
}

.ticker {
  display: block;
  justify-content: left;
  align-items: left;
  padding-top: 3.2rem;
  width: auto;
  height: 5.8rem;
  position: fixed;
  overflow-x: hidden;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.ticker-track {
  display: flex;
  justify-content: left;
  align-items: left;
  overflow-x: scroll;
  height: 2rem;
  overflow-x: hidden;
  white-space: nowrap;
  animation: scroll 12s linear infinite;
  min-width: 100%;
}

.ticker-element {
  justify-content: left;
  align-items: left;
  text-align: left;
  padding-top: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
  color: var(--text-color-opposite);
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-33.33333333333333%); }
}

/* Hero */
.hero {
  min-height: 100vh;
  width: 100vw;
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10rem;
  padding-bottom: -20rem;
}
.hero-image {
  position: fixed;
  background-image: url(assets/squirrelMRPhoto.jpeg);
  background-size: 150vh;
  background-position: center 0px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero h1 {
  color: var(--text-color);
  flex: 1;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: left;
  margin: 0 1rem;
  font-size: var(--h1-size);
  display: block;
}

.hero-buttons {
  flex: 1;
  display: flex;
  width: 23rem;
  padding: 1rem 0rem;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons a {
  display: block;
  justify-content: space-evenly;
  align-items: center;
  padding: .5rem .5rem;
  border-radius: .3rem;
  margin: 0 auto;
  font-size: .8rem;
  width: auto;
  color: var(--text-color);
  background-image: linear-gradient(45deg, rgba(171, 207, 234, 0.5),rgba(180, 180, 180, 0.4));
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.hero-buttons a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.hero-buttons a:active {
  transform: scale(0.98);
  background-color: var(--accent-color)
}

.hero-buttons a svg {
  margin-left: .5rem;
  margin-bottom: -.2rem;
}

/* Projects */
.projects {
  max-width: auto;
  width: auto;
  display: block;
  max-width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: -5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.projects h2 {
  max-width: 100%;
  flex: 1;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.project-card-container {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-card {
  padding: 1rem;
  margin-top: 1rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: fit-content;
  width: 20rem;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.project-card img {
  width: auto;
  max-width: 100%;
  height: 2rem;
  object-fit: contain;
}

.project-card a {
  text-decoration: none;
  color: var(--text-color);
  border-radius: .5rem;
  padding: .5rem 1rem;
  margin: 1rem 25%;
  display: block;
  width: 50%;
  background-image: linear-gradient(45deg, rgba(31, 144, 231, 0.1),rgba(31, 144, 231, 0.2));
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.project-card a svg {
  margin-bottom: -.1rem;
  margin-right: .5rem;
}

.project-card a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.project-card a:active {
  transform: scale(0.98);
  background-color: var(--accent-color)
}

.project-card p {
  text-align: left;
  font-size: 1rem;
  color: var(--text-color);
}

.project-card-technology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0rem 0rem;
}

.project-card-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 0.5rem;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, .2));
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  aspect-ratio: 1/1;
  height: 5.5rem;
  width: auto;
  transition: all 0.2s ease;
}

.project-card-technology:hover {
  transform: scale(1.05);
}

.project-card-technology img {
  height: 2.5rem;
  width: auto;
}

.project-card-technology span {
  font-size: .8rem;
  color: var(--text-color);
  max-width: 100%;
  line-height: 1.2;
  display: block;
  text-align: center;
}

/* About */
#about {
  padding-top: 3rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding-bottom: 3rem;
}

.about h2 {
  margin-bottom: 0rem;
}

.about-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-content img {
  max-width: 100%;
  padding: 2rem;
  height: auto;
  border-radius: 2.5rem;
}

.about-text {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin: 1rem 2rem;
}

.about-content p {
  color: var(--text-color);
  max-width: 100%;
  flex: 1;
  flex-wrap: wrap;
  text-align: justify;
  margin: 0 2rem;
  font-size: 1em;
}

/* Contact */
#contact {
  padding-top: 3rem;
}

.contact {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact h2 {
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.contact form label {
  text-align: left;
}

.contact form label::after {
  content: " *";
  color: red;
}

.contact form input {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border: 0;
  color: var(--text-color);
  border-radius: .5rem;
}

.contact form textarea {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem 12rem 1rem;
  border: 0;
  color: var(--text-color);
  border-radius: .5rem;
}

.contact form button {
  padding: 1rem;
  color: var(--text-color);
  background-image: linear-gradient(45deg, rgba(31, 144, 231, 0.1),rgba(31, 144, 231, 0.2));
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  background-color: var(--bg);
}

.contact form button svg {
  margin-left: .3rem;
  margin-bottom: -.1rem;
}

.contact form button:hover {
background-color: rgba(255, 255, 255, 0.1);
transform: scale(1.03);
}

.contact form button:active {
transform: scale(0.98);
background-color: var(--accent-color)
}

.contact form button:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  transform: scale(1);
  cursor: not-allowed;
  box-shadow: none;
}

.contact form button:disabled svg {
  stroke-opacity: .5;
}

input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: #888;
}

.contact-text {
  color: var(--text-color);
  max-width: 100%;
  flex: 1;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  h2 {
    margin-left: 1%;
    font-size: var(--h2-size-desktop);
  }

  a {
    transition: all 0.3s ease;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Hero */
  .hero {
    padding-bottom: 190px;
  }
  /* TODO: fix image on tab resize */
  .hero-image {
    background-image: url(assets/squirrelMRPhoto.jpeg);
    background-size: 100vw;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
  }
  .hero-image::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(assets/squirrelMRPhoto.jpeg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center 0;
    transform: scaleY(-1);
    z-index: -1;
  }
  .hero-buttons {
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }

  .hero-buttons a {
    font-size: 1rem;
    padding-inline: 1.25rem;
    width: max-content;
  }

  .hero-buttons a svg {
    width: 1rem;
    height: 1rem;
  }

  .hero h1 {
    display: block;
    max-width: 100%;
    flex-wrap: nowrap;
    text-align: left;
    margin-left: 2%;
  }

  /* Projects */
  .project-card-container {
    margin: 0 4rem;
  }

  .project-card {
    width: 20rem;
  }

  .project-card p {
    font-size: 1.1rem;
  }

  .project-card-technology {
    max-width: 6rem;
  }

  .project-card-technology span {
    font-size: .9rem;
  }

  /* About */
  .about {
    padding-bottom: -6rem;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: -4rem;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    max-width: 30%;
  }

  .about-content img {
    display: flex;
    flex-shrink: 0;
    width: 35rem;
    height: auto;
    flex-wrap: wrap;
  }

  .about-text {
    margin: 1rem 2rem;
  }

  .about-content p {
    font-size: 1em;
    margin-top: 2rem;
  }

  .about-text {
    display: inline;
    width: 100%;
    max-height: 38rem;
    padding-top: 0rem;
  }

  /* Contact */
  .contact form {
    width: 800px;
  }
}
